@import "/styles/variables";

.navbar{
    background-color: $color-primary;
    color: $color-white;
    
    a{
        text-decoration: none;
        cursor: pointer;
    }
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.navbarNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;  
    padding: 0;
    margin: 0;
}

.navbarLink{
    &:not(:last-child){
        margin-right: 1rem;
    }
}

.picture{
    border-radius: 50%;
    height: 35px;
}