.container{
    margin-top: 1rem;
    
}

.profile{
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    min-height: 250px;
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(238, 234, 234);
    .coverimg{
        display: block;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .pic{
        display: block;
        width: 50%;
        border-radius: 50%;
        margin: 0 auto;
    }
    .profile_top > .pic{
        margin-bottom: -10px;
    
    }
}

.ads{
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    min-height: 250px;
}

.feed{
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    padding: 1rem 0.5rem;
    background-color: rgb(238, 234, 234);
    
    &:not(:last-child){
        margin-bottom: 1rem;
    }

    
}