.tweetbox{
    margin-bottom: 1rem;
}

.container{
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    background-color:rgb(238, 234, 234);
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.pictureContainer{
    margin-right: 0.5rem;
    margin-top: 0.4rem;
    .picture{
        height: 45px;
        border-radius: 50%;
        display: block;
    }
}

.contentContainer{
    flex-grow: 1;
    overflow: hidden;
}

.textareaWrapper{
    position: relative;
    padding: 12.5px 0;
    border: 1px solid #C4C4C4;
    border-radius: 24px;
    background-color: white;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;

    .placeholder{
        position: absolute;
        width: 100%;
        z-index: -1;

        &.visible{
            display: block;
        }

        &.invisible{
            display: none;
        }
    }

    .textareaInnerWrapper{
        width: 100%;
        padding-left: 1rem;
    }

    .textarea{
        // position: absolute;
        overflow-wrap: break-word;
        outline: none;
        border: none;
        width: 100%;
        z-index: 1;
    
        // &:empty:before{
        //     content: attr(placeholder);
        //     pointer-events: none;
        //     display: block; /* For Firefox */
        // } 
    }
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
    
    .submit{
        background-color: black;
        color: white;
        border: 1px solid black;
        border-radius: 12px;
        padding: 10px;    
        margin: 20px;
        cursor: pointer;
    }
}